<h1>Welcome to myHome</h1>

<h2>Where do you wanna go?</h2>
<ul>
	<li>
		<button id="qna" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		Q&A</button>
		<button id="cafe" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		Cafe</button>
	</li>
</ul>

<img src='/background_cat.gif'></img>


<script>
	// Function to change the content of t2
	function goQna() {
		window.location.href = "/qnas";
	}

	function goCafe() {
		window.location.href = "/cafes";
	}
	// add event listener to table
	var el = document.getElementById("qna");
	el.addEventListener("click", goQna, false);
	
	var e2 = document.getElementById("cafe");
	e2.addEventListener("click", goCafe, false);
</script>